<md-card style="display:inline-block" ng-controller="NewItemController as vm">
    <md-card-title>
        <h3>{{vm.title}}</h3>
    </md-card-title>
    <md-card-content>
        <form ng-submit="vm.submit" name="vm.NewItemForm">
            <div layout-gt-sm="row">
                <md-input-container flex>
                    <label>Name</label>
                    <input ng-model="vm.activity.title" required name="name">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <div class="md-block" flex-gt-sm>
                    <label>Start</label>
                    <md-datepicker class="md-block" ng-model="vm.activity.start" md-placeholder="Start date" ng-required="!vm.activity.cost" md-open-on-focus></md-datepicker>
                </div>
                <div class="md-block" flex-gt-sm>
                    <label>End</label>
                    <md-datepicker class="md-block" ng-model="vm.activity.end" md-min-date="vm.activity.start" md-placeholder="End date" md-open-on-focus>End</md-datepicker>
                </div>
                <div class="md-block" flex-gt-sm>
                    <md-checkbox ng-model="vm.activity.allDay">All Day Event</md-checkbox>
                </div>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <input type="text" class="md-block" ng-model="vm.activity.url" placeholder="Link">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Cost</label>
                    <input ng-model="vm.activity.cost" type="number" placeholder="0.00" step="0.01" ng-required="!vm.activity.start">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Currency</label>
                    <md-autocomplete
                        md-selected-item="vm.selectedItem"
                        md-search-text="vm.searchText"
                        md-selected-item-change="vm.updateCurrency(curr.value)"
                        md-items="curr in vm.querySearch(vm.searchText)"
                        md-item-text="curr.display"
                        md-min-length="0"
                        ng-init="vm.searchText=vm.currency"
                        >
                        <md-item-template>
                            <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{curr.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No currencies matching "{{vm.searchText}} were found.
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                     <md-select ng-model="vm.activity.repetitionType" aria-label="select type">
                        <md-option ng-repeat="type in vm.repetitionTypes" value="{{type}}">{{type}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="vm.activity.repetitionType == 'per person'" class="md-block" flex-gt-sm>
                    <input ng-model="vm.activity.quantity" min="1" type="number">
                </md-input-container>
                <md-input-container ng-if="vm.activity.repetitionType == 'per person'" class="md-block" flex-gt-sm>
                    <ng-pluralize count="vm.activity.quantity || 0" when="{'0': 'people', '1': 'person', 'other': 'people'}"></ng-pluralize>
                </md-input-container>
                <md-input-container ng-if="vm.activity.repetitionType == 'per day'" class="md-block" flex-gt-sm>
                    <input ng-model="vm.activity.quantity" min="1" type="number">
                </md-input-container>
                <md-input-container ng-if="vm.activity.repetitionType == 'per day'" class="md-block" flex-gt-sm>
                    <ng-pluralize count="vm.activity.quantity || 0" when="{'0': 'days', '1': 'day', 'other': 'days'}"></ng-pluralize>
                </md-input-container>
                <div class="md-block" flex-gt-sm>
                    <span ng-if="vm.activity.repetitionType == 'per person' || vm.activity.repetitionType == 'per day'">
                        <label>Total</label>
                        <md-input-container flex-gt-sm>
                            {{vm.activity.cost * vm.activity.quantity}}
                        </md-input-container>
                    </span>
                </div>
            </div>
            <md-input-container class="md-block">
                <input type="text" g-places-autocomplete ng-model="vm.activity.address" placeholder="Address"/>
            </md-input-container>
            <div layout-gt-sm="row">
                <fieldset class="md-block">
                    <legend>Hours</legend>
                    <table>
                        <tr ng-repeat="day in vm.days">
                            <td><md-checkbox ng-model="vm.activity.days[day].open" ng-checked="vm.exists(day, vm.selected)" ng-click="vm.toggle(day, vm.selected)">{{day}}</md-checkbox></td>
                            <td><input type="time" ng-model="vm.activity.days[day].start" ng-show="vm.exists(day, vm.selected)"></td>
                            <td><input type="time" ng-model="vm.activity.days[day].end" ng-show="vm.exists(day, vm.selected)"></td>
                        </tr>
                    </table>
                </fieldset>
                <textarea class="md-block" flex-gt-sm ng-model="vm.activity.notes" placeholder="Notes..."></textarea>
            </div>
            <md-button class="md-primary md-raised md-warn" ng-click="dvm.cancel()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-disabled="!vm.activity.title || !vm.activity.cost" ng-click="dvm.update(vm.activity)" ng-if="dvm.edit">Update</md-button>
            <md-button 
              class="md-primary md-raised" 
              ng-disabled="!vm.activity.title || !vm.activity.cost" 
              ng-click="dvm.update(vm.activity)" 
              ng-if="!dvm.edit"
              >
                Add
            </md-button>
            <span flex></span>
            <md-button class="md-primary md-raised md-warn pull-right" ng-click="dvm.deleteActivity()">Delete</md-button>
        </form>
    </md-card-content>
</md-card>

