<md-content class="travelcal-triplist">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <h1>Trip List</h1>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list flex ng-mouseleave="vm.changeHighlighted(-1)">
                <div ng-if="vm.trips.length == 0">You have no trips saved. Why don't you add a new one?</div>
                <md-list-item 
                    layout="row"
                    ng-class="{'highlight-row': vm.showOptions[$index]}"
                    ng-repeat="trip in vm.trips"
                    ng-mouseover="vm.changeHighlighted($index)"
                    >
                    <div flex="100" ng-click="vm.loadTrip(trip)">
                        <h4>{{trip.name}}</h4>
                        {{trip.start_date}} - {{trip.end_date}}
                    </div>
                    <div flex=""></div>
                    <div>
                        <md-button class="md-fab" aria-label="edit trip" ng-click="vm.editTrip(trip)" ng-show="vm.showOptions[$index]">
                            <ng-md-icon icon="mode_edit" style="fill: white"></ng-md-icon>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
          <md-button class="md-raised" ng-click="vm.newTrip()">New Trip</md-button>
        </md-card-content>
    </md-card>
</md-content>
