<md-content class="travelcal-triplist">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <h1>Trip List</h1>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list flex>
                <div ng-if="vm.trips.length == 0">You have no trips saved. Why don't you add a new one?</div>
                <md-list-item ng-repeat="trip in vm.trips" ng-click="vm.loadTrip(trip)">
                    <div>
                        <h4>{{trip.name}}</h4>
                        {{trip.start_date}} - {{trip.end_date}}
                    </div>
                </md-list-item>
            </md-list>
          <md-button class="md-raised" ng-click="newTrip($event)">New Trip</md-button>
        </md-card-content>
    </md-card>
</md-content>
