{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular-route.min.js"></script>
    <base href="/">
</head>

<body>
    <div ng-app="myApp">
      {% include "_nav.html" %}
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12'>
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
    <script src='{% static 'travelcal.js' %}'></script>
</body>

</html>
