

<md-content class="travelcal-calendar">

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <h1>{{vm.title}}</h1>
                <p>Click a date to add a new activity!</p>
                <content>
                  <md-button class="md-raised" ng-click="vm.loadBudget()">View Budget</md-button>
                  <md-button class="md-raised" ng-click="vm.exportPDF()">Export PDF Itinerary</md-button>
                  <md-button class="md-raised" ng-click="vm.triggerReminders()">Trigger Reminder Emails</md-button>
                  <md-button class="md-raised" ng-click="vm.popularActivities($event)">Popular Activities</md-button>
                <content>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div 
                ng-model-options="{timezone:'UTC'}" 
                ui-calendar="uiConfig.calendar" 
                ng-model="eventSources"
                calendar="tripCalendar">
            </div>
        </md-card-content>

    </md-card>
</md-content>
