<md-content class="travelcal-calendar">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <h1>{{vm.title}}</h1>
                <md-button class="md-raised md-primary" ng-click="editActivity($event)">Add Activity</md-button>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="tripCalendar"></div>
        </md-card-content>
    </md-card>
</md-content>