<md-card style="display:inline-block">
    <md-card-title>
        <h3>Popular Activities</h3>
    </md-card-title>
    <md-card-content>
        <input 
            ng-if="dvm.popular_activities.length" 
            ng-model="dvm.query" 
            type="text" 
            placeholder="Filter by location">
        <md-list-item 
            ng-if="dvm.popular_activities.length" 
            ng-repeat="activity in dvm.popular_activities | filter:dvm.query | orderBy: 'score' : true" 
            ng-click="dvm.addActivity(activity)"
            >
            <div flex>
                <h5>{{activity.title}}</h5>
                <h6>{{activity.address.formatted_address}}</h6>
            </div>
            <h5>{{activity.score}}</h5>
        </md-list-item>
        <span ng-if="!dvm.popular_activities.length">There are currently no popular activities.</span>
    </md-card-content>
</md-card>
