<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3>Register</h3>
        <hr/>
        <form role="form">
            <div class="form-group">
                <input type="email" class="form-control" id="register__email" ng-model="email" placeholder="E-mail address" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="register__password" ng-model="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success" ng-click="register()">Register</button>
            </div>
        </form>
    </div>
</div>
